*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #614007;
    margin-left: 7%;
    padding: 8px;
}

#subtitulo {
    font-family: sans-serif;
    color: #7d540d;;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: #9db7cd;
    color: #614007;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
    
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;   
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #614007;
    box-shadow: 2px 2px 2px rgba(0,0,0,0,2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8;
}

#submit {
    background-image: linear-gradient(to right,rgb(138, 81, 20),rgb(138, 89, 36));
    width: 50%;
    border: none;
    padding: 13px;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#submit:hover {
    background-image: linear-gradient(to right,rgb(126, 66, 9),rgb(136, 91, 29));
}

#check {
    display: inline-block;
}

#nome, #email, #telefone {
    width: 500px;
}

#experiencia {
    width: 50%;
}
